body {
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/05/04/17/17/bokeh-2284591_1280.jpg");
}

h1 {
    font-size: 3rem;
    margin: 20px;
    padding: 15px;
    color: darkslategrey;
    font-weight: bolder;
    text-shadow: 2px 2px white;
}

h3 {
    margin: 40px auto;
    color: darkslategrey;
    font-size: 1.5rem;
}
.color-code {
    text-shadow: 1px 1px white;
}

.click {
    color: darkslategrey;
}
.color-box {
    width: 40vw;
    height: 10vw;
    background-color: rgba(0, 0, 0, 1);
    margin: 0 auto;
    border: black solid;
    border-radius: 10px;


}